@import "tailwindcss";

:root {
  background-color: #fdfbd4;
  color: black;
}

*::-webkit-scrollbar {
  background: #d9d7b6;
  border-radius: 100px;
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background: #545333;
  border-radius: 100px;
}

.btn-grp {
  display: flex;
  gap: 2rem;
  & > * {
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 1rem;
    &:hover {
      border-color: red;
      background-color: rgb(41, 41, 41);
    }
  }
}

.popover-content {
  position: absolute;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}
